## Clase 10: Pandas (Panel Data)

https://en.wikipedia.org/wiki/Pandas_(software)

In [1]:
import pandas as pd
import numpy as np

In [2]:
etiquetas = ['X','YZ','ZB']
mi_lista = [10,20,30]
arr_np = np.array(mi_lista)
d ={'X':10,'YZ':20, 'ZB':30}

Dataframe es la estructura esencial de Pandas, que es un conjunto de Series

In [4]:
df = pd.Series(mi_lista)
df

0    10
1    20
2    30
dtype: int64

In [10]:
df2 = pd.Series(data=mi_lista, index=etiquetas, dtype='int32')
df2

X     10
YZ    20
ZB    30
dtype: int32

In [7]:
df3 = pd.Series(arr_np,etiquetas)
df3

X     10
YZ    20
ZB    30
dtype: int32

In [9]:
df4 = pd.Series(d)
df4

X     10
YZ    20
ZB    30
dtype: int64

## Indices y Acceso a datos

In [13]:
import pandas as pd
serie1 = pd.Series(data=[1,2,3,4], index=["USA","CHINA","BRAZIL","ALEMANIA"], dtype="int32")
serie1

USA         1
CHINA       2
BRAZIL      3
ALEMANIA    4
dtype: int32

In [17]:
print(serie1[1]) ## acceso por posicion numerica del indice (arranca en cero)
print(serie1["CHINA"]) ## acceso por nombre del indice
print(serie1[-1])
print(serie1["ALEMANIA"])

2
2
4
4

In [21]:
#print(serie1["VENEZUELA"]) #no existen y arroja el Index out of bound
#print(serie1[10])

In [28]:
try:
    pib_vzla=serie1["venezuela"]
except KeyError:
    print("No existe ese indice en la serie")
except:
    print("No se pudo acceder al dato")

No existe ese indice en la serie

In [31]:
if(serie1.get('CHINA')):
    print("Si Existe")
    pib = serie1["CHINA"]
else:
    print("No existe")

Si Existe

In [35]:
serie2 = pd.Series([1,2,3,4], index=['USA','Venezuela','Republica Checa','Japon'])

In [36]:
serie2

USA                1
Venezuela          2
Republica Checa    3
Japon              4
dtype: int64

In [42]:
## Notación dot (punto)
print(serie2.USA)

# Notacion brackets/ corchetes
print(serie2['Republica Checa'])  ## llave
print(serie2[0]) ## indices numericos

1
3
1

In [74]:
## Metodos de acceso

serie3 = pd.Series([10,20,30,40])
print(f"INDICES NUMERICOS \n {serie3}")
print("-------------------")
print(f"INDICES LLAVE \n {serie2}")
print("-------------------")
## Funcion loc (Location)  se usa cuando los indices son llaves textuales (String)
print(serie2.loc["USA"]) ## serie 2 tiene indices de tipo texto o llaves
print(serie3.loc[1])  # no funciona porque la columna indice es tipo llave de texto

## Funcion iloc (index location) se usa cuando los indices son númericos y para acceder cuando se tiene el numero de la posicion.
# numero entero
print(serie3.iloc[1]) ## no funciona porque los indices son de tipo numerico
print(serie2.iloc[1])

# Regla general, siempre que quieran acceder por el numero de la posicion se usa iloc
# Cuando se quiere acceder por la llave (debe ser del mismo tipo de datos que el index -string, datetime, float, integer) se usa location

INDICES NUMERICOS
 0    10
1    20
2    30
3    40
dtype: int64
-------------------
INDICES LLAVE
 USA                1
Venezuela          2
Republica Checa    3
Japon              4
dtype: int64
-------------------
1
20
20
2

In [86]:
# Slicing con location - incluye el indice de la derecha
print(serie3.loc[1:3])  #
print(serie2.loc["USA":"Venezuela"]) # si incluye el indice de la derecha, aqui funciona porque estoy
#usando loc (para llaves) y la columna indice es de tipo string
#serie3.iloc[1:3]


# Slicing con ilocation - no incluye el indice de la derecha
print(serie3.iloc[1:3])
print(serie2.iloc[1:3])
print(serie3.iloc[:3])
print(serie3.iloc[:])

1    20
2    30
3    40
dtype: int64
USA          1
Venezuela    2
dtype: int64
1    20
2    30
dtype: int64
Venezuela          2
Republica Checa    3
dtype: int64
0    10
1    20
2    30
dtype: int64
0    10
1    20
2    30
3    40
dtype: int64

## Dataframe

In [87]:
import numpy as np
import pandas as pd

In [88]:
acciones_list =[
    ['AAPL','Apple', 135],
    ['MSFT','Microsoft', 100]
]

In [91]:
df1 = pd.DataFrame(acciones_list)
df1

      0          1    2
0  AAPL      Apple  135
1  MSFT  Microsoft  100

In [94]:
df2 = pd.DataFrame(acciones_list, index=["Accion1","Accion2"], columns=["Ticker","Nombre", "Valor"])

In [95]:
df2

        Ticker     Nombre  Valor
Accion1   AAPL      Apple    135
Accion2   MSFT  Microsoft    100

In [98]:
print(df2.Ticker)
print(df2['Nombre'])
type(df2.Ticker)

Accion1    AAPL
Accion2    MSFT
Name: Ticker, dtype: object
Accion1        Apple
Accion2    Microsoft
Name: Nombre, dtype: object

pandas.core.series.Series

In [99]:
dic = {
    'ticker':['AAPL','MSFT'],
    'nombre':['Apple','Microsoft'],
    'precio':[135,100]
}

In [100]:
df3 = pd.DataFrame(dic, index=["Accion1","Accion2"])
df3

        ticker     nombre  precio
Accion1   AAPL      Apple     135
Accion2   MSFT  Microsoft     100

In [101]:
df3.iloc[0]

ticker     AAPL
nombre    Apple
precio      135
Name: Accion1, dtype: object

En el caso del dataframe la notacion Dot o Brackets se usa para las columnas.  
Los metodos loc, iloc se usan para las filas.

In [102]:
type(df3.iloc[0])

pandas.core.series.Series

In [105]:
## Acceso Fila, Columna
df3.iloc[0]["nombre"]

'Apple'

In [106]:
df3.loc["Accion1"]["nombre"]

'Apple'

In [108]:
df3.iloc[0][1]

'Apple'

In [113]:
df3.precio.argmax()

0

## Web Scraping - Beautifulsoup4

In [117]:
import requests
from bs4 import BeautifulSoup
from datetime import datetime

In [127]:
url="https://coinmarketcap.com/currencies/solana/"

respuesta = requests.get(url) # hacer el request a la url (servidor y recurso) usando get que es para
#traer el html del servidor

#print(respuesta.status_code)
#print(respuesta.content)

if(respuesta.status_code == 200):
    soup = BeautifulSoup(respuesta.text, 'html.parser')
    precio = soup.find('div', {'class':'priceValue'}).text
    porcentaje_var = soup.find('span', {'class':'icon-Caret-down'}).text
    print(precio)
else:
    print("Hubo un error en el request")

$185.15

In [144]:
def obtenerDatos(crypto):
    url=f"https://coinmarketcap.com/currencies/{crypto}/"
    
    respuesta = requests.get(url)
    if(respuesta.status_code == 200):
        soup = BeautifulSoup(respuesta.text, 'html.parser')
        precio = soup.find('div', {'class':'priceValue'}).text
        porcentaje_var = soup.find('span', {'class':'sc-15yy2pl-0'}).text
    else:
        precio="NA"
    return {
        'crypto':crypto,
        'precio':precio,
        'porcentaje':porcentaje_var,
        'time': datetime.now().strftime("%d-%m-%Y %H:%M:%S")
    };

In [146]:
sol = obtenerDatos("solana")
car = obtenerDatos("cardano")
btc = obtenerDatos("bitcoin")
print(sol)
print(car)
print(btc)

{'crypto': 'solana', 'precio': '$185.58', 'porcentaje': '3.03%', 'time': '09-09-2021 20:37:49'}
{'crypto': 'cardano', 'precio': '$2.51', 'porcentaje': '1.20%', 'time': '09-09-2021 20:37:50'}
{'crypto': 'bitcoin', 'precio': '$46,538.46', 'porcentaje': '0.86%', 'time': '09-09-2021 20:37:51'}

In [147]:
data=[]
data.append(f'{sol["time"]}  CRYPTO: {sol["crypto"]} con PRECIO: {sol["precio"]} %: {sol["porcentaje"]} \n')
data.append(f'{car["time"]}  CRYPTO: {car["crypto"]} con PRECIO: {car["precio"]} %: {car["porcentaje"]} \n')
data.append(f'{btc["time"]}  CRYPTO: {btc["crypto"]} con PRECIO: {btc["precio"]} %: {btc["porcentaje"]} \n')
data

['09-09-2021 20:37:49  CRYPTO: solana con PRECIO: $185.58 %: 3.03% \n',
 '09-09-2021 20:37:50  CRYPTO: cardano con PRECIO: $2.51 %: 1.20% \n',
 '09-09-2021 20:37:51  CRYPTO: bitcoin con PRECIO: $46,538.46 %: 0.86% \n']

In [148]:
#'w' modo escritura write
#'r' modo de lectura read
#'a' modo de agregar append
with open('cryptodata.txt', 'w') as file:
    file.writelines(data)
    file.close()

In [150]:
import os  ## esto es para saber en donde estoy trabajando y donde se guarda el archivo
os.getcwd()

'D:\\Documents\\Capacitaciones\\Python\\Clases MasSaber\\Clases E2'

In [149]:
import time

In [157]:
contador = 0
criptomonedas = ['solana','bitcoin','cardano']
with open('cryptodata.txt', 'a') as file:
    while contador <4:
        for item in criptomonedas:
            crypto= obtenerDatos(item)
            text = f'{crypto["time"]}  CRYPTO: {crypto["crypto"]} con PRECIO: {crypto["precio"]} %: {crypto["porcentaje"]} \n'
            print(text)
            file.write(text)
        time.sleep(30)
        contador+=1
    file.close()

09-09-2021 21:02:21  CRYPTO: solana con PRECIO: $189.17 %: 0.88%

09-09-2021 21:02:22  CRYPTO: bitcoin con PRECIO: $46,637.46 %: 0.98%

09-09-2021 21:02:23  CRYPTO: cardano con PRECIO: $2.53 %: 5.37%

09-09-2021 21:02:55  CRYPTO: solana con PRECIO: $189.17 %: 0.88%

09-09-2021 21:02:56  CRYPTO: bitcoin con PRECIO: $46,654.93 %: 1.11%

09-09-2021 21:02:57  CRYPTO: cardano con PRECIO: $2.53 %: 5.37%

09-09-2021 21:03:28  CRYPTO: solana con PRECIO: $189.17 %: 0.88%

09-09-2021 21:03:29  CRYPTO: bitcoin con PRECIO: $46,637.46 %: 0.98%

09-09-2021 21:03:30  CRYPTO: cardano con PRECIO: $2.53 %: 5.16%

09-09-2021 21:04:01  CRYPTO: solana con PRECIO: $189.17 %: 0.88%

09-09-2021 21:04:01  CRYPTO: bitcoin con PRECIO: $46,637.46 %: 0.98%

09-09-2021 21:04:02  CRYPTO: cardano con PRECIO: $2.53 %: 5.37%